<h2> Login </h2>
<p> New to our service? Click <a href="/signup"> here</a> to sign up</p>
  <form action="/login" method="post">
    <label>Email</label>
    <input type="email" name="email"><br>
    <label>Password</label>
    <input type="password" name="password"><br>
    <input type="submit" name="Login"><br>
