<h2> Sign Up </h2>
<p> Already have an account? Click <a href="/login">here</a> to login </p>
  <form action="/signup" method="post">
    <input type="email" placeholder="Email" name="email"><br>
    <input type="text" placeholder="FullName" name"fullname"><br>
    <input type="password" placeholder="Create A Password" name="password"><br>
    <input type="submit" name="Sign Up"><br>
</form>
